$total-columns: 12;
$col-widths: ();

.grid {
  &-desktop {
    @include media-query-bp($bp5) {
      @include flexbox;

      @for $i from 1 through $total-columns {
        @for $j from 1 through $i {
          $w: ($j / $i);

          @if not index($col-widths, $w) {
            .col-#{$j}-#{$i}-desktop {
              flex-basis: $w * 100%;
            }

            $col-widths: append($col-widths, $w, comma);
          }
        }
      }
    }
  }

  &-mobile {
    @include media-query-bp($bp5 - 1, 'max') {
      @include flexbox;

      @for $i from 1 through $total-columns {
        @for $j from 1 through $i {
          $w: ($j / $i);

          @if not index($col-widths, $w) {
            .col-#{$j}-#{$i}-mobile {
              flex-basis: $w * 100%;
            }

            $col-widths: append($col-widths, $w, comma);
          }
        }
      }
    }
  }
}
