/* Global typography such as headers, color options, links, etc. */
@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

