/* Site-wide Sass variables. */

//
// Variables
// --------------------------------------------------


// MEDIA QUERY BREAKPOINTS
$bp2:       480px;
$bp3:       600px;
$bp4:       768px;
$bp5:       920px;
$bp6:       1382px;

$max-content-width: 75rem;

//== Colors
//
//## Brand colors
$black:                 #020000 !default;
$grey:                  #B5B5B4 !default;
$grey-medium:           #6E6E6E !default;
$grey-light:            #F6F6F5 !default;
$white:                 #FFF !default;
$off-white:             #F3F3F1 !default;
$brand-red:             #D2232A !default;
$brand-brown:           #CFAD88 !default;
$brand-maroon:          #6E1811 !default;
$brand-eggshell:        #FFF3E0 !default;
$brand-gold:            #CFAE89 !default;

$grs-grey-dark:          #999999 !default;
$grs-grey:               #D1D3D5 !default;
$grs-grey-light:         #F0F0F0 !default;
$grs-orange:             #D07D39 !default;
$grs-blue-muted:         #303844 !default;
$grs-blue-dark:          #262E3A !default;
$grs-blue:               #414A58 !default;
$grs-blue-light:         #7A818A !default;
$grs-blue-lightest:      #8792A3 !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $white !default;
//** Global text color on `<body>`.
$text-color:            $black !default;

//** Global textual link color.
$link-color:            $brand-red !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;
//** Default bottom margin for components/blocks
$component-spacing:     30px !default;
//** Sizing for sticky footer
$footer-size: 80px;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.


$font-family-sans-serif: "Roboto", Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

// Z indicies- centralized to make for easier maintenance
$z-index-nav-mask: 5;
$z-index-header: 10;
$z-index-nav-logo: 15;
$z-index-home-menu-item-fries: 1;
$z-index-home-menu-item-sauce: 2;
$z-index-home-menu-item-chicken: 3;
$z-index-home-menu-item-toast: 4;
$z-index-home-menu-item-coleslaw: 5;
$z-index-home-menu-item-detail: 25;
$z-index-hero-title: 5;
$z-index-location-search-form-mobile: 9;

$z-index-nav-secondary: 25;
$z-index-nav-mobile: 20;
$z-index-nav-mobile-trigger: 26;
$z-index-home-carousel-overlay: 5;
$z-index-home-carousel-logos: 10;
$z-index-call-now-button: 15;
