  /* Global form styles. */
form {
  &.visual-form-builder,
  &.vfbp-form {
    margin: -1rem -15px 0;

    @include media-query-bp($bp5) {
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
    }

    select {
      -moz-appearance: menulist;
      -webkit-appearance: menulist;
      appearance: menulist;
    }

    h3 {
      font-family: $font-family-sans-serif;
      font-size: .75rem;
      font-weight: 900;
      padding: 0 15px;
      text-transform: uppercase;
    }

    fieldset {
      background: transparent;
      border: transparent;
      margin: 0 auto;
    }

    label {
      display: none;
      font-family: $font-family-sans-serif;
      font-size: .75rem;
      font-weight: 900;
      text-transform: uppercase;
    }

    li {
      padding: 0 0 .5rem !important;
    }

    .vfb-well {
      background: transparent;
      border: 0;
      margin: 0;
      padding: 0;
    }

    .vfb-form-control {
      @include placeholder($grs-grey);
      border: 0;
      border-radius: 0;
    }

    .vfb-checkbox,
    .vfb-fieldType-checkbox {
      text-align: left;

      label {
        display: inline-block;
      }
    }

    .vfb-fieldType-checkbox {
      margin-bottom: 2rem;

      @include media-query-bp($bp5) {
        margin-bottom: 0;
      }
    }

    .vfb-control-label {
      &:empty {
        // ensure blank labels have some height
        height: 1.0625rem;
        pointer-events: none;
      }
    }

    input,
    textarea {
      padding-left: .25rem !important;
      padding-right: .25rem !important;

      &:hover {
        border-color: inherit;
      }

      &[type='checkbox'],
      &[type='radio'] {
        &:checked {
          background-color: $grs-orange;
          border-color: $white;
        }
      }

      &[type='radio'] {
        border-radius: 50%;
      }

      &.vfb-text,
      &.vfb-textarea {
        border-color: transparent;
      }
    }

    .vfb-col-12 {
      position: relative;
    }

    .btn {
      @extend .btn;
    }

    .btn-file {
      padding-bottom: .5rem !important;
      padding-top: .4375rem !important;
    }
  }
}
