/* Global styles that don't really fit in anywhere else. */

// Reset all items to use border-box
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $grs-blue;
  font-family: $font-family-sans-serif;
  text-rendering: optimizeLegibility;
}

html,
body {
  font-size: 16px;
  height: 100%;
  padding: 0;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0;

  @include media-query-bp($bp5) {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h4 {
  font-size: 1.125rem;
  font-weight: 300;
}

a {
  color: $grs-orange;
  font-weight: 700;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

strong,
b {
  font-weight: 900;
}

ul,
ol {
  text-align: left;
}

ul {
  .main & {
    font-size: .875rem;
    margin: 1rem 1rem 1rem 3rem;

    li {
      font-size: 1rem;
      list-style: disc;
      margin-bottom: .5rem;

      ul {
        margin-left: 1.5rem;
      }

      li {
        list-style: none;
        position: relative;

        &::before {
          content: '-';
          display: inline-block;
          margin-right: .5rem;
        }
      }
    }
  }

  &.list-items-checkmarks {
    margin-left: 2rem !important;

    li {
      list-style: none !important;
      margin-bottom: 1rem;
      padding-left: 1rem;
      position: relative;

      &:before {
        background: url('../img/icon-checkmark.svg') no-repeat;
        content: '';
        display: block;
        height: 1.25rem;
        left: -1.75rem;
        position: absolute;
        top: 0;
        width: 1.4375rem;
      }
    }
  }
}

p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;

  &:empty {
    display: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

section {
  margin: 0 auto;
  max-width: none !important;
}

article {
  &::after {
    content: '';
    margin: 0;
  }

  a {
    color: $grs-orange;
    text-decoration: none;
  }
}

hr {
  background-color: $grs-grey;
  height: .0625rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  &::after {
    content: '';
    margin: 0;
  }
}

nav {
  margin: 0;
}

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.clearfix {
  @include clearfix;
}

.block {
  display: block;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

.menu {
  margin: 0;
}

.header {
  @include max-content-width;

  @include media-query-bp($bp5) {
    margin: 0 auto;
  }

  &-container {
    position: relative;
    z-index: $z-index-header;

    @include media-query-bp($bp5) {
      height: auto;
    }
  }
}

.container {
  @include container;

  &-grey {
    background-color: $grs-grey-light;
  }
}

.wrapper {
  padding: 3rem 0;

  &-grey {
    background-color: $grs-grey-light;
  }
}

.bg {
  &-orange {
    background-color: $grs-orange;
  }

  &-blue {
    background-color: $grs-blue;
  }
}

.text-color {
  color: $grs-blue;

  &-blue {
    * {
      color: $grs-blue;
    }
  }

  &-blue-light {
    color: $grs-blue-light;

    * {
      color: $grs-blue-light;
    }
  }

  &-orange {
    color: $grs-orange;

    * {
      color: $grs-orange;
    }
  }

  &-white {
    color: $white;

    * {
      color: $white;
    }
  }
}

// based on Boostrap's responsive embed component
.embed-responsive {
  display: block;
  height: 0;
  margin: 0 auto;
  max-width: 53.125rem;
  overflow: hidden;
  padding: 0;
  position: relative;

  &-caption {
    margin: 2rem auto;
    max-width: 53.125rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-16by9 {
    padding-bottom: 56.25%;
  }

  &-4by3 {
    padding-bottom: 75%;
  }

  &-840by330 {
    padding-bottom: 39.2%;
  }

  &-item,
  &-embed,
  iframe,
  object,
  video {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
