/* Note: aria-hidden="true" is applied with JS, so we don't want to hide content unless JS is enabled */
$border-width: 1px;
$border-color: #000;
$panel-padding: 5px;

[data-accordion] {
  [aria-hidden='true'] {
    display: none;
  }

  [role='heading'] {
    margin-bottom: 0;
  }

  [role='button'] {
    border-bottom: $border-width solid $border-color;
    display: block;
    padding: $panel-padding 0;
    position: relative;

    &::after {
      content: '+';
      position: absolute;
      right: $panel-padding;
    }

    &[aria-expanded='true'] {
      text-transform: uppercase;

      &::after {
        content: '-';
      }
    }
  }

  [role='region'] {
    border-bottom: $border-width solid $border-color;
    padding: $panel-padding;
  }
}
