.btn {
  background-color: $grs-orange;
  border: 0;
  border-radius: 0 !important;
  color: $white;
  display: inline-block;
  font-weight: 900;
  line-height: 1;
  padding: 1.25rem 1.875rem;
  text-align: center;
  text-decoration: none;
  transition: background-color .25s ease-out;
  width: auto;

  &::after {
    content: '\203A';
    display: inline-block;
    margin-left: .5rem;
  }

  &:hover,
  &:active {
    background-color: rgba($grs-orange, .8);
    color: $white;
  }

  &-block {
    display: block;
  }

  &-close {
    height: 3rem;
    padding: 0;
    width: 3rem;
  }

  &-text {
    background-color: transparent;
    color: $grs-orange;
    font-weight: 500;
    padding: 0;

    &:hover,
    &:active {
      background-color: transparent;
      color: rgba($grs-orange, .8);
      text-decoration: underline;
    }
  }

  &-blue {
    background-color: $grs-blue;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($grs-blue, 10%);
      color: $white;
    }
  }

  &-orange {
    background-color: $grs-orange;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($grs-orange, 10%);
      color: $white;
    }
  }

  &-xl {
    font-size: 200%;
    padding: 1.5rem 2rem;

    @include media-query-bp($bp5) {
      font-size: 300%;
      padding: 2.5rem 3.75rem;
    }
  }
}
