.carousel {
  margin: 0 auto;

  @include media-query-bp($bp5) {
    margin-top: -9.375rem;
  }

  &-background {
    &-desktop {
      @include media-query-bp($bp5) {
        &-top-center {
          background-position: top center;
        }

        &-top-left {
          background-position: top left;
        }

        &-top-right {
          background-position: top right;
        }

        &-center-center {
          background-position: center center;
        }

        &-center-left {
          background-position: center left;
        }

        &-center-right {
          background-position: center right;
        }

        &-bottom-center {
          background-position: bottom center;
        }

        &-bottom-left {
          background-position: bottom left;
        }

        &-bottom-right {
          background-position: bottom right;
        }
      }

    }

    &-mobile {
      @include media-query-bp($bp5 - 1, 'max') {
        &-top-center {
          background-position: top center;
        }

        &-top-left {
          background-position: top left;
        }

        &-top-right {
          background-position: top right;
        }

        &-center-center {
          background-position: center center;
        }

        &-center-left {
          background-position: center left;
        }

        &-center-right {
          background-position: center right;
        }

        &-bottom-center {
          background-position: bottom center;
        }

        &-bottom-left {
          background-position: bottom left;
        }

        &-bottom-right {
          background-position: bottom right;
        }
      }
    }
  }

  &-cell {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .flickity-page-dots {
    display: none;

    @include media-query-bp($bp5) {
      bottom: 1rem;
      display: block;
    }

    .dot {
      background-color: $white;
    }
  }

  .flickity-prev-next-button {
    padding: 0;
    top: 50%;

    @include media-query-bp($bp5) {
      top: calc(50% + 4.6875rem);
    }
  }

  &-header {
    color: $grs-blue;
    font-weight: normal;
    text-align: left;
  }

  &-img {
    display: block;
    position: relative;
  }

  &-logos {
    @include flexbox;
    align-content: flex-end;
    bottom: 20%;
    justify-content: space-between;
    position: absolute;
    width: 100% - 42.85714286%;
    z-index: $z-index-home-carousel-logos;

    &-desktop {
      display: none;

      @include media-query-bp($bp5) {
        @include flexbox;
      }

    }

    &-left {
      left: calc(42.85714286% - 7rem);
    }

    &-mobile {
      bottom: auto;
      display: block;
      margin-bottom: 2.5rem;
      margin-top: -1rem;
      position: relative;
      width: 100%;

      @include media-query-bp($bp5) {
        display: none;
      }
    }

    &-right {
      left: 7rem;
    }
  }

  &-logo {
    max-width: 25%;

    @include media-query-bp($bp5) {
      display: block;
      flex-basis: 100%;
      height: 100%;
      max-width: 14rem;
      width: 100%;
    }
  }

  &-overlay {
    @include flexbox;
    background-color: rgba($white, .8);
    float: left;
    overflow-y: auto;
    position: relative;
    width: 100%;
    z-index: $z-index-home-carousel-overlay;

    @include media-query-bp($bp5) {
      margin-top: 9.375rem;
      width: 42.85714286%;
    }

    &-img {
      display: block;
      margin: 0 auto 2rem;
    }

    &-inner {
      height: 31.875rem;
      margin: auto;
      padding: 2rem;

      @include media-query-bp($bp5) {
        padding: 2.5rem 21.80555556% 0 11.1111111%;
      }

    }

    &-right {
      float: right;
    }
  }

  p {
    font-size: 1.125rem;
    text-align: left;

    @include media-query-bp($bp5) {
      padding-left: 1.75rem;
    }
  }

  &-subheader {
    color: $grs-orange;
    display: block;
    font-size: 1.125rem;
    font-weight: bold;
  }

  &-testimonials {
    margin: 0 auto 2rem;
    width: 90%;
  }

  &-testimonial {
    padding: 2rem 0;

    &-body {
      font-size: 110%;
      font-style: italic;
      line-height: 1.75;
      margin-bottom: 2rem;
      padding-left: 10%;
      padding-right: 10%;
      text-align: left;
    }

    &-byline {
      font-style: italic;
      font-weight: 600;
      padding-left: 10%;
      padding-right: 10%;
      text-align: right;
    }
  }
}
