.footer {
  @include flexbox;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-content-width;

  &-container {
    background: $grs-blue;
    padding: 3.25rem .9375rem;
  }

  &-copyright {
    color: $grs-blue-light;
    flex-grow: 2;
    font-size: .875rem;
    margin: auto;
    padding: 0 1rem;
    text-align: center;
  }

  &-logo {
    align-self: flex-start;
    padding: 1rem 0;

    @include media-query-bp($bp5) {
      max-width: 16.5625rem;
    }

    &-img {
      display: block;
      width: 100%;
    }
  }

  &-social {
    @include flexbox;
    @include justify-content(center);
    align-self: flex-end;
    margin: auto;

    &-item {
      margin-left: .25rem;
      margin-right: .25rem;
    }

    &-icon {
      display: block;
      height: auto;
      max-height: 2.5rem;
      max-width: 2.5rem;
      opacity: .3;
      transition: opacity .1s ease-out;
      width: 100%;
    }

    &-link {
      &:hover,
      &:focus,
      &:active {
        .footer-social-icon {
          opacity: 1;
        }
      }
    }
  }
}
