.page {
  &-header {
    color: $grs-orange;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .25rem;
    text-align: left;
    text-transform: uppercase;

    &-container {
      margin: 0 auto 5%;
      max-width: $max-content-width;
    }
  }

  &-subheader {
    color: $grs-blue;
    font-size: 1.75rem;
    text-align: left;
  }
}
