$nav-secondary-wrapper-height-desktop: 6.625rem;
$nav-secondary-wrapper-height-mobile: 4.625rem;

body {
  &.mobile-nav-visible {
    overflow: hidden;

    .header-container {
      z-index: 20;
    }

    .nav-mask {
      height: 100%;
      opacity: .5;
      transition: opacity .3s;
      width: 100%;
      z-index: $z-index-nav-mask;
    }

    .nav-mobile-trigger-line {
      margin-left: .375rem;
      transform-origin: center center;
      transition-delay: 0s, .3s;

      &:nth-child(1) {
        transform: rotate(45deg) translateY(.625rem);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-.625rem);
      }
    }

    .nav-mobile-wrapper {
      height: calc(100% - #{$nav-secondary-wrapper-height-mobile});
      margin-top: 0;
      overflow-y: auto;
      transform: translateY(0);
    }
  }
}

.nav {
  &-container {
    @include media-query-bp($bp5) {
      box-shadow: none;
      position: relative;
      top: 0;
      transform: none;
      width: auto;
    }
  }

  &-secondary {
    &-container {
      @include flexbox;
      align-content: space-between;
      margin: 0 auto;
      max-width: $max-content-width;
      position: relative;

      .menu {
        display: none;

        @include media-query-bp($bp5) {
          display: block;
        }
      }
    }

    &-nav-container {
      align-self: flex-end;
      font-size: 1rem;
      margin: auto 0 auto auto;
      text-transform: uppercase;

      .menu-item {
        position: relative;

        a {
          color: $grs-grey-light;
          font-weight: bold;
          margin-left: .5rem;
          margin-right: .5rem;
          position: relative;
          transition: background-color color .1s ease-out;

          &:last-child {
            margin-right: 0;
          }

          &:hover,
          &:focus {
            background-color: transparent;
            color: rgba($grs-grey-light, .7);

            &::after {
              background-color: $grs-grey-light;
              bottom: .1875rem;
              content: '';
              display: block;
              height: .1875rem;
              position: absolute;
              width: calc(100% - .625rem);
            }
          }
        }

        &-80 {
          a {
            color: $grs-orange;
          }
        }
      }
    }

    &-wrapper {
      background-color: $grs-blue;
      height: $nav-secondary-wrapper-height-mobile;
      position: relative;
      z-index: $z-index-nav-secondary;

      @include media-query-bp($bp5) {
        height: $nav-secondary-wrapper-height-desktop;
        position: relative;
      }
    }
  }

  &-primary {
    &-container {
      @include flexbox;
      height: 9.375rem;
      margin: 0 auto;
      max-width: $max-content-width;

      a {
        color: $grs-grey-light;
        font-size: 1.25rem;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
      }

      .menu-item {
        margin-right: 0;
        position: relative;

        &:hover {
          background-color: $grs-blue;

          & > .sub-menu {
            display: block;
          }
        }

        &:last-child {
          .sub-menu {
            left: auto;
            right: 0;
          }
        }

        &-64,
        &-73,
        &-77 {
          & > a {
            position: relative;

            &:before {
              background-position: .75rem 0;
              background-repeat: no-repeat;
              background-size: contain;
              content: '';
              display: block;
              height: 100%;
              max-height: 4.0625rem;
              position: absolute;
              top: .75rem;
              width: 100%;

              @include ie-only {
                max-height: 4.5rem;
              }
            }
          }

        }

        &-64 {
          & > a {
            &:before {
              background-image: url('../img/logo-simple-slatetec.svg');
              left: 1.5rem;

              @include ie-only {
                left: -2.125rem !important;
              }
            }
          }
        }

        &-73 {
          & > a {
            &:before {
              background-image: url('../img/logo-simple-tiletec.svg');
              left: 1.125rem;

              @include ie-only {
                left: -2.25rem !important;
              }
            }
          }
        }

        &-77 {
          & > a {
            &:before {
              background-image: url('../img/logo-simple-woodtec.svg');
              left: 1.625rem;

              @include ie-only {
                left: -2.125rem !important;
              }
            }
          }
        }
      }

      .sub-menu {
        display: none;
        left: 0;
        position: absolute;
        top: auto;
        width: 150%;

        a {
          background-color: rgba($grs-blue, .85);
          display: block;
          font-size: 1.25rem;
          font-weight: normal;
          padding: 1.25rem 1.875rem;

          &:hover,
          &:focus {
            background-color: $grs-blue;
          }
        }

        .menu-item {
          display: block;
        }
      }
    }

    &-header {
      color: $grs-grey-light;
      flex-grow: 5;
      font-weight: 100;
      margin: auto 0 2rem;
      padding: 0 .5rem;
    }

    &-nav {
      @include flexbox;
      align-items: stretch;
      flex-grow: 9;
      justify-content: flex-end;

      & > .menu {
        @include flexbox;
        align-items: stretch;
        flex-grow: 1;
        justify-content: flex-start;

        & > .menu-item {
          flex-grow: 1;

          &:hover {
            & > a {
              background-color: $grs-blue;
              color: $grs-orange;
            }
          }

          & > a {
            @include flexbox;
            align-content: flex-end;
            align-items: stretch;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            padding: 0 1.875rem 2rem;
            text-align: left;
          }
        }
      }

      .current-menu-item {
        & > a {
          background-color: $grs-blue;
          color: $grs-orange;
        }
      }

      .current-page-ancestor {
        & > a {
          background-color: $grs-blue;
          color: $grs-grey-light;
        }
      }
    }

    &-wrapper {
      display: none;
      position: relative;


      @include media-query-bp($bp5) {
        background-color: rgba($grs-blue, .75);
        display: block;
      }
    }
  }

  &-logo {

    &-icon {
      display: none;

      @include media-query-bp($bp5) {
        background-color: $grs-blue;
        border-radius: 50%;
        display: inline-block;
        opacity: 1;
        padding: 4%;
        width: 19%;
      }
    }

    &-mobile {
      display: block;
      margin-top: 1rem;
      max-width: 22.875rem;

      @include media-query-bp($bp5) {
        display: none;
      }
    }

    &-text {
      display: none;

      @include media-query-bp($bp5) {
      display: inline-block;
        margin-top: -4%;
        width: 79%;
      }
    }

    &-container {
      padding: .5rem .9375rem 0 1rem;
      text-decoration: none;
      width: calc(100% - 3.25rem);

      @include media-query-bp($bp5) {
        max-width: 44.625rem;
        padding: .5rem 0 0;
        width: 50%;
      }
    }
  }

  &-mobile {
    &-wrapper {
      margin-top: -$nav-secondary-wrapper-height-mobile;
      position: fixed;
      transform: translatey(-100%);
      transition: transform .3s;
      width: 100%;
      z-index: $z-index-nav-mobile;

      @include media-query-bp($bp5) {
        display: none;
      }
    }

    .menu {
      &-item {
        display: block;
      }

      &-mobile-nav {
        a {
          border-bottom: .0625rem solid $grs-blue-light;
          color: $grs-grey;
          display: block;
          font-size: 1rem;
          font-weight: 300;
          padding-bottom: .75rem;
          padding-top: .75rem;

          &:active,
          &:hover,
          &:focus {
            background-color: $grs-blue-dark;
            text-decoration: underline;
          }
        }

        li {
          margin: 0;
        }

        ul {
          margin: 0;
        }

        .current-menu-item {
          & > a {
            background-color: $grs-blue-dark;
            color: $grs-orange;
            font-weight: 700;
          }
        }

        .current-page-ancestor {
          & > a {
            background-color: $grs-blue-dark;
            color: $grs-grey-light;
            font-weight: 700;
          }
        }

        .menu-item-has-children {
          & > a {
            &::after {
              content: '\203A';
              display: inline-block;
              margin-left: .5rem;
              transition: .2s transform;
            }
          }

          & > ul {
            max-height: 0;
            overflow: hidden;
            transition: .2s max-height ease-out;
          }

          &.open {
            & > a {
              &::after {
                transform: rotate(90deg);
              }
            }

            & > ul {
              max-height: 75rem;
              overflow: visible;
            }
          }
        }

        & > li {
          & > a {
            background-color: $grs-blue-muted;
            font-size: 1.25rem;
            padding: 1rem 1.5rem;
          }

          &:first-child {
            & > a {
              padding-top: 2rem;
            }
          }

          ul {
            & > li {
              & > a {
                background-color: $grs-blue;
                padding-left: 3rem;

                &:active,
                &:hover,
                &:focus {
                  background-color: $grs-blue-muted;
                }
              }
            }
          }
        }

        // telephone link
        .menu-item-187 {
          a {
            background: $grs-orange;
            color: $white;
            position: relative;

            &::after {
              background: url('../img/icon-phone.svg') no-repeat;
              background-size: contain;
              content: '';
              display: inline-block;
              height: 2rem;
              margin: -.875rem 0 0 .75rem;
              position: relative;
              top: .5625rem;
              width: 1rem;
            }

            &:hover,
            &:focus,
            &:active {
              background-color: darken($grs-orange, 10%);
            }
          }
        }
      }
    }

    &-trigger {
      background-color: transparent;
      height: 4.625rem;
      padding: .25rem .75rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 3.25rem;
      z-index: $z-index-nav-mobile-trigger;

      &:hover,
      &:active,
      &:focus {
        background-color: $grs-orange;
      }

      @include media-query-bp($bp5) {
        display: none;
      }

      &-line {
        background-color: $white;
        display: block;
        height: .1875rem;
        margin-bottom: .25rem;
        transform-origin: center center;
        transition: .2s ease-out;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.call-now {
/*
  display: none;

  @include media-query-bp($bp5) {
*/
    background: $grs-orange;
    color: $white;
    display: block;
    font-size: .75rem;
    font-weight: 600;
    left: 0;
    padding: .5rem .75rem;
    position: fixed;
    text-align: center;
    text-decoration: none;
    top: 50%;
    z-index: $z-index-call-now-button;

    &:hover,
    &:active,
    &:focus   {
      color: $white;
      text-decoration: underline;
    }

    &-icon {
      display: block;
      margin: .5rem auto;
      max-width: 1rem;

      @include ie-only {
        max-height: 2.875rem;
      }
    }

    &-text {
      color: inherit;
      display: block;
    }
//   }
}
