.sidebar {
  &-body {
    margin-bottom: 2rem;
  }

  &-header {
    color: $white;
    margin-bottom: 2rem;
    padding: .625rem 1rem;
  }

  p {
    font-size: .875rem;
    margin-bottom: .5rem;
  }

  ul,
  ol {
    margin: 0 .5rem .5rem 1.5rem;

    li {
      list-style: disc;
      font-size: .875rem;
    }
  }
}
