.about {
  &-container {
    margin: 0 auto;
    max-width: $max-content-width;
    padding-left: 1rem;
    padding-right: 1rem;

    @include media-query-bp($bp5) {
      padding-left: 8%;
      padding-right: 8%;
    }

    .grid-desktop {
      flex-wrap: wrap;
    }
  }

  &-text-block {
    &-1 {
      @include media-query-bp($bp5) {
        order: 1;
        padding-right: 7.5%;
        width: (7/12) * 100%;
      }
    }

    &-2 {
      @include media-query-bp($bp5) {
        order: 3;
        padding-right: 7.5%;
        width: (7/12) * 100%;
      }
    }
  }

  &-image {
    margin-bottom: 2rem;

    [src=''] {
      display: none;
    }

    &-1 {
      @include media-query-bp($bp5) {
        order: 2;
        width: (5/12) * 100%;
      }
    }

    &-2 {
      display: block;

      @include media-query-bp($bp5) {
        display: none;
      }

      &-desktop {
        display: none;

        @include media-query-bp($bp5) {
          display: block;
        }
      }
    }
  }

  &-form {
    &-wrapper {
      background-color: $grs-blue;
    }

    &-container {
      @include clearfix;

      padding-bottom: 2rem;
      padding-top: 2rem;
    }

    h2 {
      color: $white;
      text-align: left;
      text-transform: none !important;
    }

    h3 {
      color: $white;
      font-size: 1rem !important;
      margin: 1rem auto 0;
      text-align: left;
      text-transform: none !important;
    }

    p {
      color: $white;
      font-weight: normal;
    }

    label {
      color: $white;
      text-transform: none !important;

      &:empty {
        display: none;
      }
    }

    .vfb-fieldType-radio,
    .vfb-fieldType-file-upload {
      label {
        display: block !important;
        text-align: left;

        &:empty {
          display: none !important;
        }
      }
    }
  }

  &-weathering-link {
    color: $grs-blue-light;
    font-size: .875rem;

    &:before {
      background: url('../img/icon-warning.svg') no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 2.5rem;
      margin-right: .5rem;
      position: relative;
      top: 1rem;
      width: 2.5rem;
    }
  }
}
