.blog {
  &-container {
    margin: 0 auto;
    max-width: $max-content-width;
  }

  .page-header-container {
    max-width: 95%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #pagi {
    margin-bottom: 3rem;

    .page-numbers {
      display: inline-block;
      font-weight: normal;
      height: 2rem;
      line-height: 1.8;
      width: 2rem;

      &:hover,
      &:active,
      &:focus {
        background-color: transparent !important;
        color: $grs-orange !important;
        text-decoration: underline !important;
      }

      &.current {
        background-color: $grs-grey-light;
        border-radius: 50%;
        font-weight: 600;

        &:hover {
          background-color: $grs-grey-light !important;
          color: $grs-blue !important;
          text-decoration: none !important;
        }
      }

      &.next,
      &.prev {
        width: auto;
      }
    }
  }

  .post {
    &-blog {
      margin: 0 auto 4rem;
      max-width: 95%;
      padding-left: 2rem;
      padding-right: 2rem;
      position: relative;
    }

    .btn-back {
      @include media-query-bp($bp5) {
        bottom: 0;
        position: absolute;
        right: 0;
      }
    }

    &-category {
      background-color: $grs-orange;
      color: $white;
      font-size: 1.5rem;
      margin: 0 auto;
      max-width: 95%;
      min-height: 3.75rem;
      padding: .75rem 1rem;
      text-align: center;

      @include media-query-bp($bp5) {
        max-width: none;
      }
    }

    &-date {
      background-color: $grs-grey-light;
      font-size: .75rem;
      font-weight: 600;
      letter-spacing: .125rem;
      line-height: 1.2;
      margin: 0 auto;
      max-width: 7rem;
      padding: .125rem .75rem;
      text-align: center;

      @include media-query-bp($bp5) {
        margin-top: .5625rem;
        padding: .25rem 1.5rem;
      }

    }

    &-read-more {
      display: block;
      font-weight: 600;
      text-align: right;
    }

    &-subtitle {
      color: $grs-orange;
      display: block;
      font-size: 1rem;
    }

    &-thumbnail {
      background-color: $grs-grey-light;
      height: 0;
      margin: 0 auto;
      max-height: calc(12.5rem - 44.8%);
      max-width: 95%;
      overflow: hidden;
      padding-bottom: 44.8%;
      position: relative;
      width: auto;

      @include media-query-bp($bp5) {
        max-width: none;
      }

      &-container {
        margin-bottom: 2rem;

        @include media-query-bp($bp5) {
          margin-bottom: 0;
          padding-right: 1.25rem;
        }
      }

      .wp-post-image {
        height: 100%;
        margin: 0 auto;
        max-height: 100%;
        max-width: none;
        position: absolute;
        text-align: center;
        width: auto;
      }
    }

    &-title {
      font-size: 1.5rem;
      text-align: left;

      a {
        color: $grs-blue;
      }
    }

    &-year {
      display: block;
      font-size: 1.125rem;
      letter-spacing: .1875rem;
    }
  }

  // begin blog detail styles
  &-link {
    display: none;

    @include media-query-bp($bp5) {
      display: block;
      font-style: italic;
      position: absolute;
      text-transform: uppercase;
      top: 10rem;

      a {
        color: $grs-grey-dark;
        display: block;
        height: 1.125rem;
        position: relative;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }

        &::after {
          display: inline-block;
          font-family: $font-family-sans-serif;
          font-size: 600%;
          font-style: normal;
          font-weight: 100;
          line-height: 0;
          position: absolute;
          top: 0;
        }
      }

      &-next {
        right: 0;

        a {
          margin-right: 2.5rem;

          &::after {
            content: '\203a';
            right: -3rem;
          }
        }
      }

      &-previous {
        left: 1.5rem;

        a {
          margin-left: 2.5rem;

          &::after {
            content: '\2039';
            left: -3rem;
          }
        }
      }
    }
  }

  &-detail {
    &-container {
      margin: 0 auto;
      max-width: 95%;
      padding-left: 2rem;
      padding-right: 2rem;

      .page-header-container,
      .post-blog {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
      }

      .post-date {
        margin-bottom: 2rem;
        margin-left: 0;

        @include media-query-bp($bp5) {
          margin-left: auto;
        }
      }
    }
  }
}
