.comparison {
  &-caption {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &-col {
    position: relative;
    text-align: center;

    @include media-query-bp($bp5) {
      &:first-of-type {
        &::after {
          background: $grs-grey;
          content: '';
          display: block;
          height: 70%;
          position: absolute;
          right: 0;
          top: 25%;
          width: .0625rem;
        }
      }
    }
  }

  &-container {
    @include container;
    overflow-y: hidden;
    position: relative;
  }

  &-demo-link {
    align-content: flex-start;
    margin: 0 auto 1.5rem;
  }

  &-header {
    font-weight: 300;
    position: relative;
  }

  &-illustration {
    padding: 0;

    @include media-query-bp($bp5) {
      padding: 1rem 2rem 0;
    }
  }

  &-logo {
    margin-bottom: -6.25%;
    margin-top: -5%;
    max-width: 10rem;
    position: relative;
    z-index: -1;

    @include media-query-bp($bp5) {
      margin-bottom: -12.5%;
      max-width: 13.75rem;
    }
  }

  &-subheader {
    color: $grs-blue-light;
    display: block;
    font-size: .875rem;
    width: 100%;

    @include media-query-bp($bp5) {
      bottom: -1rem;
      position: absolute;
    }
  }

  &-video {
    &-close {
      display: none;
      font-size: 200%;
      position: absolute;
      right: .5rem;
      top: .5rem;

      @include media-query-bp($bp5) {
        display: block;
      }

      &::after {
        display: none;
      }
    }

    &-container {
      height: 0;
      overflow: hidden;
      width: 0;

      @include media-query-bp($bp5) {
        background-color: $white;
        height: 100%;
        left: 0;
        opacity: 0;
        overflow: visible;
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        transition: .75s ease-in-out transform, .75s ease-in-out opacity;
        width: 100%;
      }
    }

    &-visible {
      @include media-query-bp($bp5) {
        opacity: 1;
        overflow: visible;
        transform: translateY(0);
        transition: .5s ease-in-out transform, .55s ease-in-out opacity;
      }
    }
  }

  &-weight {
    margin-bottom: 0;
  }
}

.interlayment-system {

  &-header {
    margin-bottom: 3rem;
    text-align: left;
  }

  &-img {
    &-container {
      position: relative;

      @include media-query-bp($bp5) {
        float: left;
        padding-left: 10%;
        width: 45%;
      }

      .btn {
        margin-top: 1rem;
      }
    }
  }

  &-text {
    &-container {
      @include media-query-bp($bp5) {
        float: left;
        padding-left: 7.5%;
        width: 55%;
      }
    }
  }
}
