.installation {
  &-container {
    margin: 0 auto;
    max-width: $max-content-width;
    padding-left: 1rem;
    padding-right: 1rem;

    @include media-query-bp($bp5) {
      padding-left: 8%;
      padding-right: 8%;
    }

    .subheader {
      display: block;
      font-size: 50%;

      @include media-query-bp($bp5) {
        display: inline-block;
      }
    }
  }

  &-intro {
    padding-bottom: 2rem;
    padding-top: 0;
  }

  &-text-block {
    &-1 {
      @include media-query-bp($bp5) {
        padding-right: 10%;
        width: (7/12) * 100%;
      }
    }

    &-2 {
      ul {
        margin-left: 1rem;
      }

      @include media-query-bp($bp5) {
        max-width: 75rem;
        padding-left: 2.5%;
        padding-right: 2.5%;

        ul {
          margin-left: 3rem;
        }
      }
    }

    &-3 {
      @include media-query-bp($bp5) {
        padding-left: 10%;
        width: (7/12) * 100%;
      }
    }
  }

  &-image {
    margin-bottom: 2rem;

    @include media-query-bp($bp5) {
      width: (5/12) * 100%;
    }
  }

  &-section {
    &-3 {

      &-instructions,
      &-tools {
        @include media-query-bp($bp5) {
          padding-right: 10%;
          width: (7/12) * 100%;
        }
      }

      &-ctas {
        margin-bottom: 2rem;

        @include media-query-bp($bp5) {
          padding-left: 8%;
          padding-right: 8%;
        }
      }

      &-cta {
        margin-bottom: 1rem;
        width: 100%;

        @include media-query-bp($bp5) {
          margin: 0 .5rem;
          width: calc(50% - 2rem);
        }
      }

      &-diagram {
        margin-bottom: 2rem;
      }

      &-disclaimer {
        opacity: .7;

        @include media-query-bp($bp5) {
          width: (5/12) * 100%;
        }
      }

      &-photo {
        margin-bottom: 2rem;

        @include media-query-bp($bp5) {
          margin-bottom: 4rem;
          width: (5/12) * 100%;
        }
      }
    }

    &-4 {
      margin-bottom: 3rem;

      .page-subheader {
        @include media-query-bp($bp5) {
          margin-bottom: 4rem;
        }
      }
    }
  }

  &-steps {
    counter-reset: installation-steps-counter;
    flex-wrap: wrap;
  }

  &-step {
    margin-bottom: 2rem;
    min-height: 3.75rem;
    position: relative;

    @include media-query-bp($bp5) {
      &:nth-child(odd) {
        &:after {
          background: url('../../../uploads/2017/08/installation-steps-arrow.svg') no-repeat;
          background-size: contain;
          content: '';
          display: block;
          height: 3rem;
          position: absolute;
          right: 1rem;
          top: .375rem;
          width: 6rem;
        }
      }
    }

    &:before {
      background-color: $grs-blue;
      border-radius: 50%;
      color: $white;
      content: counter(installation-steps-counter);
      counter-increment: installation-steps-counter;
      display: block;
      font-size: 1.75rem;
      height: 3.75rem;
      left: 0;
      line-height: 3.75rem;
      overflow: hidden;
      position: absolute;
      text-align: center;
      top: 0;
      width: 3.75rem;
    }

    &-body {
      padding-left: 4.5rem;

      @include media-query-bp($bp5) {
        padding-right: 8rem;
      }

      * {
        font-size: 87.5% !important;
      }
    }

    &-header {
      font-size: 1.125rem;
      font-weight: normal;
      padding: 1.125rem 0 0 4.5rem;

      @include media-query-bp($bp5) {
        padding-right: 8rem;
      }
    }
  }
}
