.product {
  position: relative;

  .carousel-subheader {
    text-transform: none;
  }

  &-carousel {
    display: none;
    height: 0;
    margin-top: 0;
    overflow: hidden;
    padding-top: 50%;
    position: relative;

    @include media-query-bp($bp5) {
      display: block;
    }

    &-mobile {
      margin-bottom: 2rem;

      @include media-query-bp($bp5) {
        display: none;
      }

      &:after {
        background-color: $grs-blue;
        color: $white;
        content: 'Swipe Left/Right to View All Color Options';
        display: block;
        font-size: 1rem;
        padding: .5rem 1rem;
        text-align: center;
      }

      .btn {
        padding: .75rem 1rem;
      }

      .carousel-cell {
        padding: 2rem 3.5rem 0;
      }

      .carousel-header,
      .carousel-subheader {
        font-size: 95%;
      }

      .carousel-product-image-mobile {
        margin-left: -1rem;
      }

      .flickity-prev-next-button {
        background-color: transparent;
      }
    }

    &-background {
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      left: 0;
      opacity: .1;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    &-body {
      display: none;

      @include media-query-bp($bp5) {
        display: block;
      }
    }

    .btn-weathering {
      display: none;
      font-size: 80%;

      @include media-query-bp($bp5) {
        display: block;
      }
    }

    .btn-learn-more {
      display: block;
      margin: 0 auto;
      max-width: 90%;

      @include media-query-bp($bp5) {
        display: none;
      }
    }

    .carousel-overlay {
      width: 100%;
    }

    &-cell {
      height: 100%;
      position: absolute;
      overflow-y: auto;
      top: 0;

      @for $i from 1 to 30 {
        &:nth-child(#{$i}) {
          left: ($i - 1) * 100%;
        }
      }
    }

    &-container {
      @include media-query-bp($bp5) {
        margin-top: -9.375rem;
        padding-top: 14.375rem;
      }
    }

    &-image-only {
      text-align: left;
    }

    &-inner {
      height: 100%;
      left: 0;
      position: absolute;
      transition: .3s left ease-in-out;
      top: 0;
      width: 100%;
    }

    &-logo {
      &-desktop {
        display: none;

        @include media-query-bp($bp5) {
          display: block;
        }
      }

      &-mobile {
        @include media-query-bp($bp5) {
          display: none;
        }
      }
    }

    &-thumbnails {
      display: block;
      float: left;
      margin: 1rem 0 0 1rem !important;
      width: 65%;

      &-container {
        display: none;

        @include media-query-bp($bp5) {
          display: block;
          margin-bottom: 4rem;
          position: relative;
          z-index: 1;

          &:after {
            background: $white;
            bottom: 0;
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: -1;
          }

          &:before {
            background: $grs-blue;
            bottom: 0;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
          }
        }
      }

      &-header {
        background-color: $grs-blue;
        color: $white;
        display: block;
        float: left;
        font-size: 150%;
        height: 5rem;
        line-height: 5rem;
        margin: 0;
        padding-right: 1.25rem;
        position: relative;
        text-align: right;
        vertical-align: top;
        width: 33%;
      }
    }

    &-thumbnail {
      display: inline-block;

      &-link {
        -webkit-appearance: none;
        background: none;
        background-repeat: none;
        background-size: cover;
        border: .125rem solid transparent;
        display: block;
        height: 3rem;
        margin-right: 1rem;
        padding: 0;
        width: 3rem;

        &:active,
        &:focus,
        &.selected {
          border-color: $grs-orange;
        }
      }
    }

    &-wrapper {
      display: none;

      @include media-query-bp($bp5) {
        display: block;
        position: relative;
      }
    }
  }

  &-container {
    margin: 0 auto;
    max-width: $max-content-width;
    padding-left: 1rem;
    padding-right: 1rem;

    @include media-query-bp($bp5) {
      padding-left: 8%;
      padding-right: 8%;
    }

    .subheader {
      display: block;
      font-size: 50%;

      @include media-query-bp($bp5) {
        display: inline-block;
      }
    }
  }

  &-gallery {
    margin: 3rem auto 0;

    @include media-query-bp($bp5) {
      width: 100%;

      img {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }


    .disclaimer {
      font-size: 70%;
      font-style: italic;
    }

    &-thumbnails {
      margin: 0 auto 2rem;
      padding: .5rem 0;
      width: 82%;

      @include media-query-bp($bp5) {
        padding: 1rem 2rem 2rem;
        width: 100%;
      }

      .flickity-prev-next-button {
        background-color: transparent;

        &.next {
          right: -2.8125rem;
        }

        &.previous {
          left: -2.8125rem;
        }
      }
    }

    &-thumbnail {
      padding-left: .25rem;
      padding-right: .25rem;
      width: 33%;

      @include media-query-bp($bp5) {
        padding-left: .5rem;
        padding-right: .5rem;
        width: 20%;
      }
    }
  }

  &-intro {
    padding-bottom: 2rem;
    padding: 0;
  }

  &-logo {
    width: 80%;
  }

  &-image {
    margin-bottom: 1rem;
  }

  &-caption {
    &-container {
      * {
        font-size: 92.5%;
      }
    }
  }

  &-section {
    &-1 {
      &-column {
        &-left {
          @include media-query-bp($bp5) {
            padding-right: 10%;
          }
        }
      }
    }

    &-2 {
      &-column {
        &-right {
          @include media-query-bp($bp5) {
            padding-left: 10%;
          }
        }
      }
    }

    &-3 {
      &-container {
        padding-left: 0;
        padding-right: 0;
      }

      &-column {
        &-left {
          padding: 4rem 1rem 2rem;

          @include media-query-bp($bp5) {
            padding-right: 10%;
          }
        }

        &-right {
          background-color: $grs-blue;
          padding-bottom: 1rem;
          padding-top: 1rem;

          img {
            display: block;
            margin: 2rem auto;
            max-width: 40%;
          }

          .sidebar-body {
            padding: 1rem 1.5rem;

            * {
              color: $white;
            }
          }
        }
      }
    }

    &-4 {
      padding-bottom: 3rem;
      padding-top: 4rem;

      hr {
        margin-bottom: 3rem;
        margin-top: 2rem;
      }

      .disclaimer {
        font-size: 70%;
        font-style: italic;
      }

      .page-subheader {
        &.text-left {
          text-align: left;
        }

        &.text-center {
          text-align: center;
        }
      }

      &-column {
        &-left {
          @include media-query-bp($bp5) {
            padding-right: 1.5rem;
          }
        }

        &-right {
          @include media-query-bp($bp5) {
            padding-left: 1.5rem;
          }
        }
      }
    }

    &-5 {
      padding: 2rem 0 2.5rem;

      @include media-query-bp($bp5) {
        padding: 4rem 0 5rem;
      }

      .disclaimer {
        font-size: 70%;
        font-style: italic;
      }
    }

    &-6 {
      border-bottom: .0625rem solid $grey;
      border-top: .0625rem solid $grey;
      padding: 4rem 0 5rem;
    }

    &-7 {
      padding: 4rem 0 5rem;
    }
  }

  &-finish {
    &-overviews {
      @include media-query-bp($bp5) {
        flex-wrap: wrap;
      }
    }
    &-overview {
      @include media-query-bp($bp5) {
        &:nth-child(even) {
          padding-left: 2.5rem;
        }

        &:nth-child(odd) {
          padding-right: 2.5rem;
        }
      }

      &-body {
        display: inline-block;
        padding-left: 5%;
        width: 75%;
      }

      &-image {
        display: inline-block;
        margin-bottom: 1rem;
        vertical-align: top;
        width: 25%;
      }
    }
  }
}
