.system {
  &-container {
    margin: 0 auto;
    max-width: $max-content-width;
    padding-left: 1rem;
    padding-right: 1rem;

    @include media-query-bp($bp5) {
      padding-left: 8%;
      padding-right: 8%;
    }
  }

  &-resource {
    list-style: none !important;

    @include media-query-bp($bp5) {
      &:nth-child(2n + 2) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  &-resources {
    margin: 0 auto !important;

    @include media-query-bp($bp5) {
      flex-wrap: wrap;
    }

    &-cta {
      list-style: none;
      margin-bottom: 1rem !important;

      &::before {
        display: none !important;
      }

      .btn {
        display: block;
      }
    }

    &-ctas {
      margin: 0 auto 3rem !important;
    }

    &-header {
      color: $grs-orange;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 2.5rem;
      text-align: center;
    }

    &-icon {
      display: block;
      height: 100%;
      margin: 0 auto 3rem;
      max-height: 5rem;
      max-width: none;
      width: auto;
    }
  }

  &-section {
    &-1 {
      &-column {
        &-left {
          margin-bottom: 2rem;

          @include media-query-bp($bp5) {
            margin-bottom: 0;
            padding-right: 4rem;
          }
        }

        &-right {
          .sidebar {
            &-seal {
              float: right;
              margin: 0 0 1rem 1rem;
              max-width: 45%;

              @include media-query-bp($bp5) {
                max-width: 11.25rem;
              }
            }
          }
        }
      }
    }

    &-2 {
      padding: 2.5rem 1rem;
      text-align: center;
    }

    &-3 {
      padding: 2.5rem 1rem;
    }
  }
}
