.why-replace {
  &-container {
    margin: 0 auto;
    max-width: $max-content-width;
    padding-left: 1rem;
    padding-right: 1rem;

    @include media-query-bp($bp5) {
      padding-left: 8%;
      padding-right: 8%;
    }
  }

  &-intro {
    padding-bottom: 2rem;
    padding-top: 0;
  }

  &-text-block {
    &-1 {
      @include media-query-bp($bp5) {
        padding-right: 10%;
        width: (7/12) * 100%;
      }
    }

    &-2 {
      ul {
        margin-left: 1rem;
      }

      @include media-query-bp($bp5) {
        max-width: 75rem;
        padding-left: 2.5%;
        padding-right: 2.5%;

        ul {
          margin-left: 3rem;
        }
      }
    }

    &-3 {
      @include media-query-bp($bp5) {
        padding-left: 10%;
        width: (7/12) * 100%;
      }
    }
  }

  &-image {
    margin-bottom: 2rem;

    @include media-query-bp($bp5) {
      width: (5/12) * 100%;
    }
  }
}
